@{
    ViewData["Title"] = "Home Page";
}

<div class="vertical-center">
    <main role="main" class="inner cover">
        <div class="text-center">
            <h1 class="cover-heading">Party Maker</h1>
            <p class="lead">Com o Party Maker, você irá organizar seus eventos de forma mais prática. Crie um evento, adicione participantes e recursos, os participantes receberão um e-mail para confirmação no evento.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary">Criar Conta!</a>
            </p>
        </div>
    </main>
</div>