@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmar redefinição de senha";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sua senha foi alterada. Por favor <a asp-page="./Login">clique aqui para entrar
    </a>.
</p>
