@page
@model Disable2faModel
@{
    ViewData["Title"] = "Desativar autenticação em duas etapas (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Essa ação somente desativa a autenticação dupla.</strong>
    </p>
    <p>
        Desativar 2FA não altera as chaves utilizadas no aplicativo auntenticador.
        Se você deseja alterar suas chaves no aplicativo autenticador você deve 
        <a asp-page="./ResetAuthenticator">redefinir suas chaves de autenticação.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Desativar autenticação em duas etapas</button>
    </form>
</div>
